<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <script src="https://unpkg.com/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div id="app">
        <div class="main">
            <div>
                <h1>To do list</h1>
                <input type="text" v-model="text" @keyup.enter="addItem(text)" autofocus="true" ref="inputList">
                <button class="addButton" @click="addItem(text)">Add</button>
                <button class="removeButton" @click="deleteAll">Delete all</button>
    
                <ul>
                    <li v-for="(data, i) in list"><div>{{i + 1}} - {{data}} <button @click="removeItem(i)"><span><i class="fas fa-times"></i></span></button></div></li>
                </ul>
            </div>
        </div>

    </div>
    <script src="app.js"></script>

</body>
</html>